In [1]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objs as go
import geopandas as gpd
import pickle

In [2]:
with open('nash_hosp_referrers.pickle', 'rb') as file:
    nash_hosp_referrers = pickle.load(file)

In [3]:
# get total out of state referral counts to Nashville, TN hospitals for choropleth
state_counts = nash_hosp_referrers.groupby('location_address_state_name').agg(
    referrals=('from_npi', 'nunique'),
    total_transactions=('transaction_count', 'sum')
).reset_index()
state_counts

   location_address_state_name  referrals  total_transactions
0                           AL         18                3806
1                           AR          4                 580
2                           AZ          2                1467
3                           CA         13                3810
4                           CO         10                2216
5                           CT          7                3025
6                           DC          3                 602
7                           DE          1                 471
8                           FL         27                6934
9                           GA         15                4269
10                          IA          1                 110
11                          ID          1                 106
12                          IL          7                1059
13                          IN         14                2797
14                          KS          2                1184
15                          KY        132               18850
16                          LA         10                3886
17                          MA         12                2516
18                          MD          5                2088
19                          MI         26                2990
20                          MN         16                3686
21                          MO          9                3663
22                          MS          6                2556
23                          MT          1                  63
24                          NC         26               10206
25                          NE          1                  86
26                          NH          1                 111
27                          NM          2                 728
28                          NV          3                 545
29                          NY         11                2465
30                          OH         12                2473
31                          OK          1                  92
32                          OR          1                 893
33                          PA         10                3515
34                          RI          1                 494
35                          SC         17                5194
36                          TN       3622             1409594
37                          TX         23                7581
38                          UT          2                 362
39                          VA          9                2485
40                          WA          6                1583
41                          WI          6                2488
42                          WV          2                1515

In [5]:
# filter state of TN for choropleth
nash_hosp_tn = nash_hosp_referrers.loc[nash_hosp_referrers['location_address_state_name'] == 'TN']
nash_hosp_tn = nash_hosp_tn[['location_address_postal_code', 'from_npi', 'transaction_count']].groupby(['location_address_postal_code']).agg({'transaction_count':'sum', 'from_npi':'nunique', 'location_address_postal_code':'count'}).rename(columns={'location_address_postal_code':'referrals'}).reset_index()
nash_hosp_tn

    location_address_postal_code  transaction_count  from_npi  referrals
0                          37013               2406        10         14
1                          37015                848         3          7
2                          37025                169         1          1
3                          37027              13259        59         77
4                          37030                207         1          2
..                           ...                ...       ...        ...
117                        38551                 60         1          1
118                        38555               1160        14         15
119                        38556                203         3          3
120                        38570                303         3          3
121                        38583                536         5          6

[122 rows x 4 columns]

In [6]:
# read in USA shapefile
us_states = gpd.read_file('cb_2018_us_state_500k.shp')

# merge shapefile with state_counts df
state_map = us_states.merge(state_counts, left_on='STUSPS', right_on='location_address_state_name')
state_map

,STATEFP,STATENS,AFFGEOID,GEOID,STUSPS,NAME,LSAD,ALAND,AWATER,geometry,location_address_state_name,referrals,total_transactions
0,28,01779790,0400000US28,28,MS,Mississippi,00,121533519481,3926919758,"MULTIPOLYGON (((-88.50297 30.21523, -88.49176 ...",MS,6,2556
1,37,01027616,0400000US37,37,NC,North Carolina,00,125923656064,13466071395,"MULTIPOLYGON (((-75.72681 35.93584, -75.71827 ...",NC,26,10206
2,40,01102857,0400000US40,40,OK,Oklahoma,00,177662925723,3374587997,"POLYGON ((-103.00257 36.52659, -103.00219 36.6...",OK,1,92
3,51,01779803,0400000US51,51,VA,Virginia,00,102257717110,8528531774,"MULTIPOLYGON (((-75.74241 37.80835, -75.74151 ...",VA,9,2485
4,54,01779805,0400000US54,54,WV,West Virginia,00,62266474513,489028543,"POLYGON ((-82.64320 38.16909, -82.64300 38.169...",WV,2,1515
5,22,01629543,0400000US22,22,LA,Louisiana,00,111897594374,23753621895,"MULTIPOLYGON (((-88.86770 29.86155, -88.86566 ...",LA,10,3886
6,26,01779789,0400000US26,26,MI,Michigan,00,146600952990,103885855702,"MULTIPOLYGON (((-83.19159 42.03537, -83.18993 ...",MI,26,2990
7,25,00606926,0400000US25,25,MA,Massachusetts,00,20205125364,7129925486,"MULTIPOLYGON (((-70.23405 41.28565, -70.22361 ...",MA,12,2516
8,16,01779783,0400000US16,16,ID,Idaho,00,214049787659,2391722557,"POLYGON ((-117.24267 44.39655, -117.23484 44.3...",ID,1,106
9,12,00294478,0400000US12,12,FL,Florida,00,138949136250,31361101223,"MULTIPOLYGON (((-80.17628 25.52505, -80.17395 ...",FL,27,6934
10,31,01779792,0400000US31,31,NE,Nebraska,00,198956658395,1371829134,"POLYGON ((-104.05342 41.17054, -104.05324 41.1...",NE,1,86
11,53,01779804,0400000US53,53,WA,Washington,00,172112588220,12559278850,"MULTIPOLYGON (((-122.57039 48.53785, -122.5686...",WA,6,1583
12,35,00897535,0400000US35,35,NM,New Mexico,00,314196306401,728776523,"POLYGON ((-109.05017 31.48000, -109.04984 31.4...",NM,2,728
13,48,01779801,0400000US48,48,TX,Texas,00,676653171537,19006305260,"MULTIPOLYGON (((-94.71830 29.72885, -94.71721 ...",TX,23,7581
14,06,01779778,0400000US06,06,CA,California,00,403503931312,20463871877,"MULTIPOLYGON (((-118.60442 33.47855, -118.5987...",CA,13,3810
15,01,01779775,0400000US01,01,AL,Alabama,00,131174048583,4593327154,"MULTIPOLYGON (((-88.05338 30.50699, -88.05109 ...",AL,18,3806
16,13,01705317,0400000US13,13,GA,Georgia,00,149482048342,4422936154,"MULTIPOLYGON (((-81.27939 31.30792, -81.27716 ...",GA,15,4269
17,42,01779798,0400000US42,42,PA,Pennsylvania,00,115884442321,3394589990,"POLYGON ((-80.51989 40.90666, -80.51909 40.921...",PA,10,3515
18,29,01779791,0400000US29,29,MO,Missouri,00,178050802184,2489425460,"POLYGON ((-95.77355 40.57820, -95.76853 40.583...",MO,9,3663
19,08,01779779,0400000US08,08,CO,Colorado,00,268422891711,1181621593,"POLYGON ((-109.06025 38.59933, -109.05954 38.7...",CO,10,2216
20,49,01455989,0400000US49,49,UT,Utah,00,212886221680,6998824394,"POLYGON ((-114.05296 37.59278, -114.05247 37.6...",UT,2,362
21,47,01325873,0400000US47,47,TN,Tennessee,00,106802728188,2350123465,"POLYGON ((-90.31030 35.00429, -90.30988 35.009...",TN,3622,1409594
22,36,01779796,0400000US36,36,NY,New York,00,122049149763,19246994695,"MULTIPOLYGON (((-72.03683 41.24984, -72.03496 ...",NY,11,2465
23,20,00481813,0400000US20,20,KS,Kansas,00,211755344060,1344141205,"POLYGON ((-102.05174 40.00308, -101.91670 40.0...",KS,2,1184
24,32,01779793,0400000US32,32,NV,Nevada,00,284329506470,2047206072,"POLYGON ((-120.00574 39.22866, -120.00559 39.2...",NV,3,545
25,17,01779784,0400000US17,17,IL,Illinois,00,143780567633,6214824948,"POLYGON ((-91.51297 40.18106, -91.51107 40.188...",IL,7,1059
26,30,00767982,0400000US30,30,MT,Montana,00,376962738765,3869208832,"POLYGON ((-116.04914 48.50205, -116.04913 48.5...",MT,1,63
27,19,01779785,0400000US19,19,IA,Iowa,00,144661267977,1084180812,"POLYGON ((-96.63970 42.73707, -96.63589 42.741...",IA,1,110
28,45,01779799,0400000US45,45,SC,South Carolina,00,77864918488,5075218778,"MULTIPOLYGON (((-79.50795 33.02008, -79.50713 ...",SC,17,5194
29,33,01779794,0400000US33,33,NH,New Hampshire,00,23189413166,1026675248,"MULTIPOLYGON (((-70.61702 42.97718, -70.61529 ...",NH,1,111
30,04,01779777,0400000US04,04,AZ,Arizona,00,294198551143,1027337603,"POLYGON ((-114.81629 32.50804, -114.81432 32.5...",AZ,2,1467
31,11,01702382,0400000US11,11,DC,District of Columbia,00,158340391,18687198,"POLYGON ((-77.11976 38.93434, -77.11253 38.940...",DC,3,602
32,24,01714934,0400000US24,24,MD,Maryland,00,25151100280,6979966958,"MULTIPOLYGON (((-76.05015 37.98691, -76.04998 ...",MD,5,2088
33,10,01779781,0400000US10,10,DE,Delaware,00,5045925646,1399985648,"MULTIPOLYGON (((-75.56555 39.51485, -75.56174 ...",DE,1,471
34,44,01219835,0400000US44,44,RI,Rhode Island,00,2677779902,1323670487,"MULTIPOLYGON (((-71.28802 41.64558, -71.28647 ...",RI,1,494
35,21,01779786,0400000US21,21,KY,Kentucky,00,102279490672,2375337755,"MULTIPOLYGON (((-89.40565 36.52817, -89.39869 ...",KY,132,18850
36,39,01085497,0400000US39,39,OH,Ohio,00,105828882568,10268850702,"MULTIPOLYGON (((-82.73571 41.60336, -82.73392 ...",OH,12,2473
37,55,01779806,0400000US55,55,WI,Wisconsin,00,140290039723,29344951758,"MULTIPOLYGON (((-86.95617 45.35549, -86.95463 ...",WI,6,2488
38,41,01155107,0400000US41,41,OR,Oregon,00,248606993270,6192386935,"MULTIPOLYGON (((-123.59892 46.25145, -123.5984...",OR,1,893
39,05,00068085,0400000US05,05,AR,Arkansas,00,134768872727,2962859592,"POLYGON ((-94.61783 36.49941, -94.61765 36.499...",AR,4,580
40,18,00448508,0400000US18,18,IN,Indiana,00,92789302676,1538002829,"POLYGON ((-88.09776 37.90403, -88.09448 37.905...",IN,14,2797
41,27,00662849,0400000US27,27,MN,Minnesota,00,206228939448,18945217189,"MULTIPOLYGON (((-89.59206 47.96668, -89.59147 ...",MN,16,3686
42,09,01779780,0400000US09,09,CT,Connecticut,00,12542497068,1815617571,"MULTIPOLYGON (((-72.76143 41.24233, -72.75973 ...",CT,7,3025

In [7]:
# delete TN from df in order to not skew choropleth
state_map_tn = state_map.drop(21)

In [8]:
# read in zip code shapefile
gdf = gpd.read_file('cb_2018_us_zcta510_500k.shp')

# read in zip code to state reference file
zip_to_state = pd.read_csv('zcta_county_rel_10.txt', dtype=str, delimiter=',')[['ZCTA5','STATE']]

# merge shapefile with zip to state mapping
gdf = gdf.merge(zip_to_state, left_on='ZCTA5CE10', right_on='ZCTA5')

# drop unnecessary columns and rename STATE column
gdf = gdf.drop(['ZCTA5'], axis=1).rename(columns={'STATE': 'STUSPS'})

# Create a dictionary to map numerical codes to state abbreviations
state_codes = {'01': 'AL', '02': 'AK', '04': 'AZ', '05': 'AR', '06': 'CA', '08': 'CO', '09': 'CT', '10': 'DE', '11': 'DC', '12': 'FL', '13': 'GA', '15': 'HI', '16': 'ID', '17': 'IL', '18': 'IN', '19': 'IA', '20': 'KS', '21': 'KY', '22': 'LA', '23': 'ME', '24': 'MD', '25': 'MA', '26': 'MI', '27': 'MN', '28': 'MS', '29': 'MO', '30': 'MT', '31': 'NE', '32': 'NV', '33': 'NH', '34': 'NJ', '35': 'NM', '36': 'NY', '37': 'NC', '38': 'ND', '39': 'OH', '40': 'OK', '41': 'OR', '42': 'PA', '44': 'RI', '45': 'SC', '46': 'SD', '47': 'TN', '48': 'TX', '49': 'UT', '50': 'VT', '51': 'VA', '53': 'WA', '54': 'WV', '55': 'WI', '56': 'WY', '60': 'AS', '66': 'GU', '69': 'MP', '72': 'PR', '78': 'VI'}

# Convert the numerical codes to state abbreviations
gdf['STUSPS'] = gdf['STUSPS'].astype(str).str.zfill(2).map(state_codes)
gdf

,ZCTA5CE10,AFFGEOID10,GEOID10,ALAND10,AWATER10,geometry,STUSPS
0,36083,8600000US36083,36083,659750662,5522919,"MULTIPOLYGON (((-85.63225 32.28098, -85.62439 ...",AL
1,35441,8600000US35441,35441,172850429,8749105,"MULTIPOLYGON (((-87.83287 32.84437, -87.83184 ...",AL
2,35051,8600000US35051,35051,280236456,5427285,"POLYGON ((-86.74384 33.25002, -86.73802 33.251...",AL
3,35121,8600000US35121,35121,372736030,5349303,"POLYGON ((-86.58527 33.94743, -86.58033 33.948...",AL
4,35121,8600000US35121,35121,372736030,5349303,"POLYGON ((-86.58527 33.94743, -86.58033 33.948...",AL
...,...,...,...,...,...,...,...
44405,50460,8600000US50460,50460,93166133,0,"POLYGON ((-92.80629 43.23026, -92.80354 43.232...",IA
44406,50460,8600000US50460,50460,93166133,0,"POLYGON ((-92.80629 43.23026, -92.80354 43.232...",IA
44407,40870,8600000US40870,40870,18226594,201441,"POLYGON ((-83.19264 36.91650, -83.19086 36.916...",KY
44408,40914,8600000US40914,40914,32269366,419039,"POLYGON ((-83.62748 37.07419, -83.62455 37.073...",KY
44409,52750,8600000US52750,52750,77963307,472441,"POLYGON ((-90.44672 41.89151, -90.44177 41.891...",IA

In [9]:
# filter for just TN
tn_gdf = gdf[gdf['STUSPS'] == 'TN']
tn_gdf

,ZCTA5CE10,AFFGEOID10,GEOID10,ALAND10,AWATER10,geometry,STUSPS
312,37066,8600000US37066,37066,296571031,15770388,"POLYGON ((-86.58467 36.41678, -86.57109 36.412...",TN
313,38301,8600000US38301,38301,427555600,617738,"POLYGON ((-89.07140 35.63486, -89.07094 35.640...",TN
314,37174,8600000US37174,37174,177635552,219653,"MULTIPOLYGON (((-86.90211 35.76941, -86.89948 ...",TN
315,37174,8600000US37174,37174,177635552,219653,"MULTIPOLYGON (((-86.90211 35.76941, -86.89948 ...",TN
558,37338,8600000US37338,37338,195021395,199083,"POLYGON ((-85.33219 35.37360, -85.33062 35.380...",TN
...,...,...,...,...,...,...,...
44136,38547,8600000US38547,38547,84906105,119487,"MULTIPOLYGON (((-86.00408 36.21457, -86.00144 ...",TN
44145,38553,8600000US38553,38553,124094916,0,"POLYGON ((-85.11958 36.14472, -85.10585 36.163...",TN
44305,37323,8600000US37323,37323,309435474,285564,"POLYGON ((-84.94033 34.99622, -84.93666 35.004...",TN
44306,37323,8600000US37323,37323,309435474,285564,"POLYGON ((-84.94033 34.99622, -84.93666 35.004...",TN
44309,37097,8600000US37097,37097,278382373,4320046,"POLYGON ((-87.97985 35.77891, -87.97655 35.787...",TN

In [10]:
# merge TN hospital referrals with zip code shapefile
tn_map = tn_gdf.merge(nash_hosp_tn, left_on='ZCTA5CE10', right_on='location_address_postal_code')
tn_map

,ZCTA5CE10,AFFGEOID10,GEOID10,ALAND10,AWATER10,geometry,STUSPS,location_address_postal_code,transaction_count,from_npi,referrals
0,37066,8600000US37066,37066,296571031,15770388,"POLYGON ((-86.58467 36.41678, -86.57109 36.412...",TN,37066,5501,27,41
1,38301,8600000US38301,38301,427555600,617738,"POLYGON ((-89.07140 35.63486, -89.07094 35.640...",TN,38301,592,8,8
2,37174,8600000US37174,37174,177635552,219653,"MULTIPOLYGON (((-86.90211 35.76941, -86.89948 ...",TN,37174,4174,17,22
3,37174,8600000US37174,37174,177635552,219653,"MULTIPOLYGON (((-86.90211 35.76941, -86.89948 ...",TN,37174,4174,17,22
4,37064,8600000US37064,37064,462538067,690730,"MULTIPOLYGON (((-86.80055 35.90413, -86.79779 ...",TN,37064,3367,19,22
...,...,...,...,...,...,...,...,...,...,...,...
192,38374,8600000US38374,38374,114176971,0,"POLYGON ((-88.29129 35.59902, -88.28292 35.598...",TN,38374,51,1,1
193,38374,8600000US38374,38374,114176971,0,"POLYGON ((-88.29129 35.59902, -88.28292 35.598...",TN,38374,51,1,1
194,37923,8600000US37923,37923,28981713,33160,"MULTIPOLYGON (((-84.06589 35.94811, -84.06552 ...",TN,37923,1014,4,4
195,37128,8600000US37128,37128,139683809,158520,"POLYGON ((-86.60066 35.84210, -86.60102 35.844...",TN,37128,485,3,5
196,37097,8600000US37097,37097,278382373,4320046,"POLYGON ((-87.97985 35.77891, -87.97655 35.787...",TN,37097,253,1,3

In [11]:
# repeat process for KY
ky_gdf = gdf[gdf['STUSPS'] == 'KY']
ky_gdf

,ZCTA5CE10,AFFGEOID10,GEOID10,ALAND10,AWATER10,geometry,STUSPS
231,41073,8600000US41073,41073,2430131,493999,"POLYGON ((-84.49355 39.10272, -84.48774 39.110...",KY
234,42464,8600000US42464,42464,158082090,4724356,"POLYGON ((-87.45777 37.24847, -87.45273 37.251...",KY
235,42464,8600000US42464,42464,158082090,4724356,"POLYGON ((-87.45777 37.24847, -87.45273 37.251...",KY
236,42464,8600000US42464,42464,158082090,4724356,"POLYGON ((-87.45777 37.24847, -87.45273 37.251...",KY
237,41083,8600000US41083,41083,88943841,1476043,"MULTIPOLYGON (((-84.92561 38.76279, -84.92546 ...",KY
...,...,...,...,...,...,...,...
44380,42082,8600000US42082,42082,73138739,1600061,"POLYGON ((-88.55637 36.90836, -88.55484 36.910...",KY
44381,42082,8600000US42082,42082,73138739,1600061,"POLYGON ((-88.55637 36.90836, -88.55484 36.910...",KY
44382,42082,8600000US42082,42082,73138739,1600061,"POLYGON ((-88.55637 36.90836, -88.55484 36.910...",KY
44407,40870,8600000US40870,40870,18226594,201441,"POLYGON ((-83.19264 36.91650, -83.19086 36.916...",KY
44408,40914,8600000US40914,40914,32269366,419039,"POLYGON ((-83.62748 37.07419, -83.62455 37.073...",KY

In [12]:
nash_hosp_ky = nash_hosp_referrers.loc[nash_hosp_referrers['location_address_state_name'] == 'KY']
nash_hosp_ky

,transaction_count,hospital,location_address_city_name,location_address_state_name,location_address_postal_code,specialty,from_npi,first_name,last_name,credential,hosp_top_referrals
55,63,"HCA HEALTH SERVICES OF TENNESSEE, INC.",BOWLING GREEN,KY,42104,Diagnostic Radiology Physician,1477542942,KEVIN,BURNER,M.D.,943.0
85,63,"HCA HEALTH SERVICES OF TENNESSEE, INC.",LEXINGTON,KY,40503,Internal Medicine Physician,1730345505,SHEFALI,PARANJAPE,MD,943.0
325,204,SAINT THOMAS WEST HOSPITAL,FORT CAMPBELL,KY,42223,Family Nurse Practitioner,1275780298,ZIPPORAH,DAVIS,"MSN, RN, NP-C",485.5
362,76,SAINT THOMAS WEST HOSPITAL,HOPKINSVILLE,KY,42240,Diagnostic Radiology Physician,1346254919,CYRUS,CHAPMAN,MD,904.0
804,87,SAINT THOMAS WEST HOSPITAL,MADISONVILLE,KY,42431,Dermatology Physician,1538108873,WILLIAM,SMITH,M.D.,829.0
...,...,...,...,...,...,...,...,...,...,...,...
5080,146,VANDERBILT UNIVERSITY MEDICAL CENTER,PADUCAH,KY,42003,Medical Oncology Physician,1376657254,WILLIAM,SKINNER,M.D.,1137.0
5134,125,VANDERBILT UNIVERSITY MEDICAL CENTER,HOPKINSVILLE,KY,42240,Hematology & Oncology Physician,1396744033,RAMESH,PATEL,M.D.,1301.0
5149,77,VANDERBILT UNIVERSITY MEDICAL CENTER,PADUCAH,KY,42003,Radiation Oncology Physician,1396837159,PETER,LOCKEN,M.D.,1907.0
5172,53,VANDERBILT UNIVERSITY MEDICAL CENTER,HOPKINSVILLE,KY,42240,Family Medicine Physician,1407149560,BILLY,FRALISH,MD,2474.0
5203,74,VANDERBILT UNIVERSITY MEDICAL CENTER,FRANKLIN,KY,42134,Hematology & Oncology Physician,1417082470,JAMIE,JARBOE,M.D.,1970.0

In [13]:
nash_hosp_ky = nash_hosp_ky[['location_address_postal_code', 'from_npi', 'transaction_count']].groupby(['location_address_postal_code']).agg({'transaction_count':'sum', 'from_npi':'nunique', 'location_address_postal_code':'count'}).rename(columns={'location_address_postal_code':'referrals'}).reset_index()
nash_hosp_ky

   location_address_postal_code  transaction_count  from_npi  referrals
0                         40202                774         2          2
1                         40204                197         1          1
2                         40207                340         2          2
3                         40216               1479         2          2
4                         40502                145         1          1
5                         40503                982         1          2
6                         40536                235         2          2
7                         41042                 64         1          1
8                         42001                597         7          7
9                         42003               2112        24         24
10                        42055                 51         1          1
11                        42066                104         2          2
12                        42071                963        10         10
13                        42078                 56         1          1
14                        42101               1049        14         14
15                        42103                152         2          2
16                        42104               1435         5          8
17                        42134                802         7          7
18                        42140                 75         1          1
19                        42141                 51         1          1
20                        42171                 87         1          1
21                        42211                 80         1          1
22                        42223                400         3          3
23                        42240               4514        21         35
24                        42261                 51         1          1
25                        42276                151         2          2
26                        42301                 53         1          1
27                        42303                398         4          4
28                        42345                 54         1          1
29                        42367                 56         1          1
30                        42431                199         3          3
31                        42445                354         3          4
32                        42450                 57         1          1
33                        42503                 56         1          1
34                        42718                677         1          1

In [14]:
ky_map = ky_gdf.merge(nash_hosp_ky, left_on='ZCTA5CE10', right_on='location_address_postal_code')
ky_map

,ZCTA5CE10,AFFGEOID10,GEOID10,ALAND10,AWATER10,geometry,STUSPS,location_address_postal_code,transaction_count,from_npi,referrals
0,42431,8600000US42431,42431,431514537,15296948,"POLYGON ((-87.64934 37.31273, -87.64502 37.312...",KY,42431,199,3,3
1,42071,8600000US42071,42071,549435948,29707707,"POLYGON ((-88.49083 36.63317, -88.48740 36.633...",KY,42071,963,10,10
2,42071,8600000US42071,42071,549435948,29707707,"POLYGON ((-88.49083 36.63317, -88.48740 36.633...",KY,42071,963,10,10
3,42367,8600000US42367,42367,2733647,1173,"POLYGON ((-87.17039 37.24358, -87.16652 37.243...",KY,42367,56,1,1
4,42345,8600000US42345,42345,395528652,4606061,"POLYGON ((-87.33103 37.20241, -87.33092 37.202...",KY,42345,54,1,1
5,42345,8600000US42345,42345,395528652,4606061,"POLYGON ((-87.33103 37.20241, -87.33092 37.202...",KY,42345,54,1,1
6,42718,8600000US42718,42718,653952872,14759412,"POLYGON ((-85.58518 37.52320, -85.58329 37.527...",KY,42718,677,1,1
7,42718,8600000US42718,42718,653952872,14759412,"POLYGON ((-85.58518 37.52320, -85.58329 37.527...",KY,42718,677,1,1
8,42718,8600000US42718,42718,653952872,14759412,"POLYGON ((-85.58518 37.52320, -85.58329 37.527...",KY,42718,677,1,1
9,42718,8600000US42718,42718,653952872,14759412,"POLYGON ((-85.58518 37.52320, -85.58329 37.527...",KY,42718,677,1,1
10,42261,8600000US42261,42261,762756954,8713634,"POLYGON ((-86.90702 37.17304, -86.90496 37.173...",KY,42261,51,1,1
11,40204,8600000US40204,40204,8410162,119315,"POLYGON ((-85.74114 38.23078, -85.73909 38.243...",KY,40204,197,1,1
12,42240,8600000US42240,42240,696119724,6295612,"POLYGON ((-87.67387 36.82523, -87.66599 36.827...",KY,42240,4514,21,35
13,42276,8600000US42276,42276,522295227,2738692,"POLYGON ((-87.05648 36.86609, -87.05249 36.866...",KY,42276,151,2,2
14,42078,8600000US42078,42078,222471486,2541644,"POLYGON ((-88.38194 37.37736, -88.38007 37.378...",KY,42078,56,1,1
15,42078,8600000US42078,42078,222471486,2541644,"POLYGON ((-88.38194 37.37736, -88.38007 37.378...",KY,42078,56,1,1
16,42503,8600000US42503,42503,334934006,10396177,"POLYGON ((-84.71151 37.00635, -84.70144 37.006...",KY,42503,56,1,1
17,42445,8600000US42445,42445,686341114,6736358,"POLYGON ((-88.03864 37.06152, -88.03465 37.065...",KY,42445,354,3,4
18,42445,8600000US42445,42445,686341114,6736358,"POLYGON ((-88.03864 37.06152, -88.03465 37.065...",KY,42445,354,3,4
19,42445,8600000US42445,42445,686341114,6736358,"POLYGON ((-88.03864 37.06152, -88.03465 37.065...",KY,42445,354,3,4
20,42450,8600000US42450,42450,154384677,3989647,"MULTIPOLYGON (((-87.77152 37.31997, -87.76976 ...",KY,42450,57,1,1
21,42450,8600000US42450,42450,154384677,3989647,"MULTIPOLYGON (((-87.77152 37.31997, -87.76976 ...",KY,42450,57,1,1
22,42450,8600000US42450,42450,154384677,3989647,"MULTIPOLYGON (((-87.77152 37.31997, -87.76976 ...",KY,42450,57,1,1
23,42101,8600000US42101,42101,733316980,8574322,"MULTIPOLYGON (((-86.43295 36.98036, -86.43071 ...",KY,42101,1049,14,14
24,42101,8600000US42101,42101,733316980,8574322,"MULTIPOLYGON (((-86.43295 36.98036, -86.43071 ...",KY,42101,1049,14,14
25,42101,8600000US42101,42101,733316980,8574322,"MULTIPOLYGON (((-86.43295 36.98036, -86.43071 ...",KY,42101,1049,14,14
26,42141,8600000US42141,42141,718983333,22290237,"MULTIPOLYGON (((-85.80127 36.85325, -85.80101 ...",KY,42141,51,1,1
27,40503,8600000US40503,40503,22910233,9033,"MULTIPOLYGON (((-84.51221 38.03135, -84.51193 ...",KY,40503,982,1,2
28,42066,8600000US42066,42066,561598427,6168569,"MULTIPOLYGON (((-88.51436 36.66706, -88.50538 ...",KY,42066,104,2,2
29,42066,8600000US42066,42066,561598427,6168569,"MULTIPOLYGON (((-88.51436 36.66706, -88.50538 ...",KY,42066,104,2,2
30,42303,8600000US42303,42303,124133825,1320514,"MULTIPOLYGON (((-87.12230 37.72966, -87.12096 ...",KY,42303,398,4,4
31,40502,8600000US40502,40502,18648834,699624,"MULTIPOLYGON (((-84.51503 37.99516, -84.51460 ...",KY,40502,145,1,1
32,42103,8600000US42103,42103,183646273,2500270,"POLYGON ((-86.43965 36.98278, -86.43522 36.984...",KY,42103,152,2,2
33,41042,8600000US41042,41042,74375884,76538,"MULTIPOLYGON (((-84.69615 39.00714, -84.69206 ...",KY,41042,64,1,1
34,41042,8600000US41042,41042,74375884,76538,"MULTIPOLYGON (((-84.69615 39.00714, -84.69206 ...",KY,41042,64,1,1
35,42003,8600000US42003,42003,180282935,10308615,"MULTIPOLYGON (((-88.63149 37.10787, -88.62735 ...",KY,42003,2112,24,24
36,42055,8600000US42055,42055,116613531,19320532,"POLYGON ((-88.23234 37.08614, -88.23100 37.089...",KY,42055,51,1,1
37,40202,8600000US40202,40202,4026446,2290220,"POLYGON ((-85.77176 38.26338, -85.76422 38.269...",KY,40202,774,2,2
38,40216,8600000US40216,40216,37437803,1983363,"POLYGON ((-85.89620 38.16788, -85.89210 38.173...",KY,40216,1479,2,2
39,42104,8600000US42104,42104,145376603,838811,"MULTIPOLYGON (((-86.52380 36.85374, -86.51944 ...",KY,42104,1435,5,8
40,42104,8600000US42104,42104,145376603,838811,"MULTIPOLYGON (((-86.52380 36.85374, -86.51944 ...",KY,42104,1435,5,8
41,42211,8600000US42211,42211,727284743,49063905,"MULTIPOLYGON (((-88.00270 36.91017, -87.89121 ...",KY,42211,80,1,1
42,42171,8600000US42171,42171,262715674,1361659,"MULTIPOLYGON (((-86.17640 37.14190, -86.17435 ...",KY,42171,87,1,1
43,42171,8600000US42171,42171,262715674,1361659,"MULTIPOLYGON (((-86.17640 37.14190, -86.17435 ...",KY,42171,87,1,1
44,42171,8600000US42171,42171,262715674,1361659,"MULTIPOLYGON (((-86.17640 37.14190, -86.17435 ...",KY,42171,87,1,1
45,42140,8600000US42140,42140,106721673,1032752,"POLYGON ((-85.94009 36.67454, -85.93374 36.677...",KY,42140,75,1,1
46,42134,8600000US42134,42134,549584245,5261354,"POLYGON ((-86.78475 36.68700, -86.78044 36.688...",KY,42134,802,7,7
47,42134,8600000US42134,42134,549584245,5261354,"POLYGON ((-86.78475 36.68700, -86.78044 36.688...",KY,42134,802,7,7
48,42134,8600000US42134,42134,549584245,5261354,"POLYGON ((-86.78475 36.68700, -86.78044 36.688...",KY,42134,802,7,7
49,40207,8600000US40207,40207,30114910,1829503,"POLYGON ((-85.70512 38.28508, -85.68356 38.295...",KY,40207,340,2,2
50,42223,8600000US42223,42223,39235200,0,"POLYGON ((-87.50215 36.65654, -87.49431 36.660...",KY,42223,400,3,3
51,42001,8600000US42001,42001,189858412,13533341,"POLYGON ((-88.83229 36.99248, -88.81435 37.010...",KY,42001,597,7,7
52,42301,8600000US42301,42301,442955762,6386414,"POLYGON ((-87.40529 37.68961, -87.40118 37.694...",KY,42301,53,1,1
53,42301,8600000US42301,42301,442955762,6386414,"POLYGON ((-87.40529 37.68961, -87.40118 37.694...",KY,42301,53,1,1

In [ ]:
# build final choropleth
mapbox = "INSERT MAPBOX STYLE LINK HERE"
mapbox_accesstoken="INSERT MAPBOX ACCESS TOKEN HERE"

# Create figure
fig = go.Figure()

# Add choropleth trace for zip code geometries
fig.add_trace(go.Choroplethmapbox(
    geojson=tn_map.__geo_interface__,
    locations=tn_map.index,
    z=tn_map['from_npi'],
    colorscale='Blues',
    marker_opacity=0.8,
    marker_line_width=0.5,
    customdata=pd.concat([tn_map['ZCTA5CE10'], tn_map['transaction_count']], axis=1),
    hovertemplate='Zip Code: %{customdata[0]}<br>' +
                  'Providers: %{z}<br>' +
                  'Total Transactions: %{customdata[1]}<extra></extra>',
    name='Zip Codes',
    colorbar=dict(
        title="Providers<br>By<br>TN<br>Zip<br>Code",
        thicknessmode="pixels", thickness=30,
        lenmode="pixels", len=500,
        yanchor="middle", y=0.5,
        tickfont=dict(size=13),
        ticks="outside", ticklen=5,
        tickcolor="#000",
        x=-0.12
    )
))

# Add choropleth trace for state geometries
fig.add_trace(go.Choroplethmapbox(
    geojson=state_map_tn.__geo_interface__,
    locations=state_map_tn.index,
    z=state_map_tn['referrals'],
    colorscale='Reds',
    marker_opacity=0.8,
    marker_line_width=0.5,
    customdata=pd.concat([state_map_tn['NAME'], state_map_tn['total_transactions']], axis=1),
    #text=state_map_tn['referrals'].astype(str),
    hovertemplate='<b>%{customdata[0]}</b><br>' +
                  'Providers: %{z}<br>' +
    'Total Transactions: %{customdata[1]}<extra></extra>',
    name='States',
    colorbar=dict(
        title="Providers<br>By<br>State",
        thicknessmode="pixels", thickness=30,
        lenmode="pixels", len=500,
        yanchor="middle", y=0.5,
        tickfont=dict(size=13),
        ticks="outside", ticklen=5,
        tickcolor="#000",
        x=1.01
    )
))

fig.add_trace(go.Choroplethmapbox(
    geojson=ky_map.__geo_interface__,
    locations=ky_map.index,
    z=ky_map['from_npi'],
    colorscale='purples',
    marker_opacity=0.8,
    marker_line_width=0.5,
    customdata=pd.concat([ky_map['ZCTA5CE10'], ky_map['transaction_count']], axis=1),
    hovertemplate='Zip Code: %{customdata[0]}<br>' +
                  'Providers: %{z}<br>' +
                  'Total Transactions: %{customdata[1]}<extra></extra>',
    name='Kentucky',
    colorbar=dict(
        title="Providers<br>By<br>KY Zip Code",
        thicknessmode="pixels", thickness=30,
        lenmode="pixels", len=500,
        xanchor="center", x=0.5, yanchor="bottom", y=0,
        tickfont=dict(size=13),
        ticks="outside", ticklen=5,
        tickcolor="#000",
        orientation="h"
    )
))

# Update layout
fig.update_layout(
    title='Out of State Nashville Providers',
    mapbox_style=mapbox,
    mapbox_zoom=2.9,
    mapbox_center={"lat": 39.8283, "lon": -98.5795},
    margin={"r":0,"t":0,"l":0,"b":0},
    #hovermode = False,
    #coloraxis_showscale=False,
    mapbox_accesstoken=mapbox_accesstoken,
    mapbox_layers=[{
        'below': 'traces',
        'sourcetype': 'geojson',
        'source': tn_map.__geo_interface__,
        'type': 'fill',
        'color': 'rgba(0,0,0,0)'
    }]
)

# Add text annotations for state geometries
for state, row in state_map_tn.iterrows():
    centroid = row.geometry.centroid
    fig.add_trace(
        go.Scattermapbox(
            lat=[centroid.y],
            lon=[centroid.x],
            text=str(row['referrals']),
            mode='text',
            textfont=dict(size=10, color='black'),
            showlegend=False,
            hoverinfo='none'
        )
    )
    
for zipcode, row in tn_map.iterrows():
    centroid = row.geometry.centroid
    fig.add_trace(
        go.Scattermapbox(
            lat=[centroid.y],
            lon=[centroid.x],
            text=str(row['from_npi']),
            mode='text',
            textfont=dict(size=10, color='black'),
            showlegend=False,
            hoverinfo='none'
        )
    )
    
for zipcode, row in ky_map.iterrows():
    centroid = row.geometry.centroid
    fig.add_trace(
        go.Scattermapbox(
            lat=[centroid.y],
            lon=[centroid.x],
            text=str(row['from_npi']),
            mode='text',
            textfont=dict(size=10, color='black'),
            showlegend=False,
            hoverinfo='none'
        )
    )

fig.show()
#fig.write_html('choropleth.html')